---
layout: default
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/hero.png') no-repeat; background-size: cover; background-position: center;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1><strong>CABINET D’INFIRMIÈRES</strong></h1>
                <p><strong>13 avenue du maréchal Juin, 33700 MÉRIGNAC.</strong></p>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
            <h1><svg class="icon icon-envelope-o"><use xlink:href="#icon-phone" style="color: black;"></use></svg><strong>06 71 00 45 21</strong></h1>
            <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Envoyer un méssage.</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="name" type="text" placeholder="Nom" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" placeholder="Téléphone" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="comments" placeholder="Message" required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Envoyer">
            </form>
        </div>

    </div>
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4" style="padding-left: 30px;padding-right: 30px;">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>NOUS CONTACTER</h3>
        <ul>
            <li>
              <strong>06 71 00 45 21</strong>
            </li>
            <li>
              <strong>contact@cabinet-infirmier-merignac-le-burck.fr</strong>
            </li>
        </ul>
    </div>
    <div class="col-sm-4" style="padding-left: 30px;padding-right: 30px;">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>HORAIRES D'OUVERTURE</h3>
        <table>
            <tbody>
                <tr>
                    <td><strong>Lundi – Vendredi</strong></td>
                    <td><strong>6:00 – 20:00</strong></td>
                </tr>
                <tr>
                    <td><strong>Samedi</strong></td>
                    <td><strong>6:00 – 20:00</strong></td>
                </tr>
                <tr>
                    <td><strong>Dimanche</strong></td>
                    <td><strong>6:00 – 20:00</strong></td>
                </tr>
            </tbody>
        </table>
        <small><strong>Soins à domicile 365 jours par an - 7 jours sur 7</strong></small>
    </div>
    <div class="col-sm-4" style="padding-left: 30px;padding-right: 30px;">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>ADRESSE DU CABINET</h3>
          <p>
            <strong>Centre commercial du Burck,</strong><br>
            <strong>13 avenue du maréchal Juin,</strong><br>
            <strong>33700 Mérignac.</strong>
          </p>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title"><strong>À propos</strong></h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>Cabinet d'Infirmières Mérignac – Le Burck.</h3>
                <p>Nous sommes infirmières libérales diplômés d'Etat, et nous justifions chacune de plus de 10 ans de pratique en milieu hospitalier.</p>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-heart"><use xlink:href="#icon-ambulance"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <strong>Soins à domicile</strong>, nous nous déplaçons à vôtre domicile pour <strong>tous types de soins infirmiers</strong> : injections, pansements, perfusions, sondes, ablations de points de suture et agrafes, toilettes médicalisées.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-medkit"><use xlink:href="#icon-medkit"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p><strong>Soins conventionnés</strong>, les soins infirmiers sont conventionnés et pris en charge par l'Assurance Maladie. Nous acceptont le tiers payant, la CMU et l'AME.
                        </p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-star"><use xlink:href="#icon-user-md"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Nous assurons les <strong>soins sur prescription médicale</strong>, dans le respect du secret médical et des règles d'hygiène et d'asepsie selon les derniers protocoles en vigueur.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/apropos2.png" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title"><strong>Nos services</strong></h2>

        <div class="row">
            {% for treatment in site.data.treatments %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                        <h4>{{ treatment.title }}</h4>
                        <p>{{ treatment.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->

<!-- Start Our team -->
<div id="team" class="team">
    <h2 class="section-title"><strong>L'équipe soignante</strong></h2>

    <div id="team-carousel">
    {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
            </div>
            <div class="expandable-box-bottom">
                <a href="mailto:{{ member.email }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.email }}"><svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg></a>
                </a>
                <a href="tel:{{ member.phone }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.phone }}"><svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg></a>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<!-- End Our team -->

<!-- Start Testimonials -->
<div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
          <h2 class="section-title" style="color: white;"><strong>Secteur d'intervention</strong></h2>
            <!-- <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                        <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
                        <blockquote>
                            <p>{{ testimonial.description }}</p>
                            <footer>
                                {{ testimonial.name }}
                                <small>{{ testimonial.title }}</small>
                            </footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div> -->
        </div>
    </div>
</div>
<!-- End Testimonials -->

<!-- Start Map -->
<div id="location" class="secteur-intervention" style="height: 450px; background: url('{{ site.baseurl }}/img/secteur-intervention.png') no-repeat; background-size: cover;background-position: center;">
</div>
<!-- End Map -->
