<!-- Start Footer -->
<footer class="main-footer">
    <div class="container-fluid">
      <small>
        Ce site est un site d'information et n'a pas pour vocation la promotion de l'activité du cabinet. Ce site prend en compte l'article R4312-37 du code de la santé publique : La profession d'infirmièr(e) ne doit pas être pratiquée comme un commerce. Tous les procédés directs ou indirects de réclame ou de publicité sont interdits aux infirmièr(e)s.
      </small>
    </div>
</footer>
<!-- End Footer -->
